* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.header {
    width: 1280px;
    position: fixed;
    z-index: 0;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    background: url('8e1a40df89eedc9219f6da0506701c97.gif') no-repeat center center/cover;
}

.navbar {
    list-style-type: none;
    width: 100vw;
    margin: 0px;
    margin-top: 200px;
    height: auto;
    padding: 0px;
    overflow: hidden;
    background-color: green;
    align-items: center;
    z-index: 10;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar li {
    display: inline-block;
    position: relative;
}

div a, .sp .navbar-submenu > a {
    background: linear-gradient(135deg, #fdfb8f, #22c614); /* Gradient warna */
    color: black; /* Warna teks */
    padding: 12px 40px; /* Ruang dalam elemen */
    margin-left: 40px; /* Jarak antar elemen */
    margin-right: 50px;
    margin-bottom: 8px;
    text-decoration: none; /* Hilangkan garis bawah */
    display: inline-block; /* Supaya sejajar */
    border-radius: 25px; /* Membuat sudut elemen membulat */
    transition: all 0.3s ease-in-out; /* Efek animasi saat hover */
    font-weight: bold; /* Teks tebal */
    box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.2); /* Efek bayangan */
}

div a:hover, .navbar-submenu:hover > a {
    background: linear-gradient(135deg, #fdffc4, #fcf680); /* Ubah warna background */
    transform: translateY(-3px); /* Geser ke atas saat hover */
    box-shadow: 4px 6px 10px rgba(0, 0, 0, 0.3); /* Tambah bayangan */
}

.navbar a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
}

.navbar .navbar-submenu {
    display: none;
    position: absolute;
    left: 0;
    top: 100%;
}

.navbar li:hover .navbar-submenu {
    display: block;
}

.a{ 
    font-family: ;
    font-size: ;
    color: brown;
}
 
.b{
     text-indent: 40px;
     text-align: justify;
}
 
.contentbox{
     background: linear-gradient(to bottom, #E1C16E, #7B3F00); /* Gradient background */
     padding: 20px; /* Ruang dalam */
     border-radius: 10px; /* Membulatkan sudut */
     box-shadow: 4px 6px 10px rgba(0, 0, 0, 0.2); /* Efek bayangan */
     margin: 20px; /* Jarak antar elemen */
}
 
.contentboxp{
     background: linear-gradient(to bottom, #7B3F00, #E1C16E); /* Gradient background */
     padding: 20px; /* Ruang dalam */
     border-radius: 10px; /* Membulatkan sudut */
     box-shadow: 4px 6px 10px rgba(0, 0, 0, 0.2); /* Efek bayangan */
     margin: 20px; /* Jarak antar elemen */
}
 
/* Gaya untuk bagian konten */
section {
     padding: 20px; /* Ruang dalam */
}