*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.header{
    width: 1280px;
    position: fixed;
}

body{
    font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            height: 100vh;
            display: flex;
            justify-content: center;
            box-sizing: border-box;
    background: url('8e1a40df89eedc9219f6da0506701c97.gif') no-repeat center center/cover;
}

